.shop {
  padding-top: 95px;
}
.shop-slider {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.board {
  position: relative;
  width: 350px;
  height: 435px;
}
.board__img-holder {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 320px;
  width: 250px;
  background-color: #ececec;
}
.board__img {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
.shop-link-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.board-desc {
  width: 210px;
  position: absolute;
  top: 196px;
  left: 216px;
}
.board__cat {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.board__title {
  color: #333;
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.26px;
}
.board-buy {
  margin-top: 38px;
  margin-left: 55px;
}
.board-buy__price {
  color: #ce60a8;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: -0.1px;
  margin-bottom: 3px;
}
.board-buy__link {
  color: #333;
  font-family: "League Spartan", sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  margin-left: 4px;
}
